<!DOCTYPE html>

{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Caleb</title>
  <style type="text/css">
    body {
      color: #aa082e;
      background-color: #b6bde7;
      font-family: 'Roboto', sans-serif;
    }

    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }
  </style>

</head>


<body>
  {% include "school/navbar.html" %}
  <br>
  <br>
  <br>
  <br>




  <!--- signup page for student by admin(sumit)  ---------->
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>New Admission To School</p>
        </div>

        <div class="form-content">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% render_field form1.first_name class="form-control" placeholder="First Name" %}
              </div>
              <div class="form-group">
                {% render_field form1.username class="form-control" placeholder="Username" %}
              </div>
              <div class="form-group">
                {% render_field form2.cl class="form-control" placeholder="Level" %}
              </div>
              <div class="form-group">
                {% render_field form2.mobile class="form-control" placeholder="Mobile" %}
              </div>
              <div class="form-group">
                {% render_field form2.parent_name class="form-control" placeholder="Parent Name" %}
              </div>
              <div class="form-group">
                <label for="{{ form1.profile_image.id_for_label }}">Profile Image</label>
                <input type="file" name="{{ form1.profile_image.name }}" accept="image/*" class="form-control" id="{{ form1.profile_image.id_for_label }}">
            </div>
            <div class="form-group">
              <label for="{{ form1.result_slip.id_for_label }}">Result Slip (PDF)</label>
              <input type="file" name="{{ form1.result_slip.name }}" accept=".pdf" class="form-control" id="{{ form1.result_slip.id_for_label }}">
          </div>
          
          <div class="form-group">
              <label for="{{ form1.national_id_scan.id_for_label }}">National ID Scan (PDF)</label>
              <input type="file" name="{{ form1.national_id_scan.name }}" accept=".pdf" class="form-control" id="{{ form1.national_id_scan.id_for_label }}">
          </div>
          
          <div class="form-group">
              <label for="{{ form1.leaving_cert_scan.id_for_label }}">Leaving Certificate Scan (PDF)</label>
              <input type="file" name="{{ form1.leaving_cert_scan.name }}" accept=".pdf" class="form-control" id="{{ form1.leaving_cert_scan.id_for_label }}">
          </div>
          
              

            </div>
            <div class="col-md-6">
              <div class="form-group">
                {% render_field form1.last_name class="form-control" placeholder="Last Name" %}
              </div>
              <div class="form-group">
                {% render_field form1.password class="form-control" placeholder="Password" %}
              </div>
              <div class="form-group">
                {% render_field form2.Email class="form-control" placeholder="Email" %}
              </div>
              <div class="form-group">
                {% render_field form2.national_id class="form-control" placeholder="National ID" %}
              </div>
              <div class="form-group">
                {% render_field form2.fee class="form-control" placeholder="Fee" %}
              </div>
              <div class="form-group">
                {{ form2.course.label_tag }}  {# Renders the label for the field #}
                {% render_field form2.course class="form-control" placeholder="Course" %} {# Renders the field itself #}
            </div>
            <div class="form-group">
              {% render_field form2.parent_mobile class="form-control" placeholder="Parent Mobile" %}
            </div>
            

            </div>
          </div>
          <button type="submit" class="btnSubmit">Take Admission</button>
          
        </div>
      </div>
    </div>

  </form>








  {% include "school/footer.html" %}
</body>

</html>
